<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
    <script src="javascript/axios.min.js"></script>
    <script src="javascript/socketio.js"></script>
    <script src="javascript/home.js"></script>
    <script>
        axios.interceptors.request.use(function (config) {
            const token = localStorage.getItem("token");
            config.headers.Authorization = `Bearer ${token}`;
            return config;
        });
        axios.interceptors.response.use(function (response) {
            const { authorization } = response.headers;
            authorization && localStorage.setItem("token", authorization);
            return response;
        }, function (error) {
            if (error.response.status === 401) {
                location.href = '/login'
                localStorage.removeItem('token');
            }
            return Promise.reject(error);
        }); 
    </script>
</head>

<body>
    <div class="home">
        <ul class="home-list">
        </ul>
        <div class="home-content">
            <div class="home-content-title">
                <span class="home-content-title-name"></span>
                <a id="logout" href="javascript:;">logout</a>
            </div>
            <div class="home-content-content" id="chat-content"></div>
            <div class="home-content-input">
                <input type="text" id="chat-input">
                <button id="chat-send">发送</button>
            </div>
        </div>
    </div>
</body>

</html>