::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.home::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.home {
    border: 1px solid #ddd;
    border-radius: 10px;
    position: absolute;
    z-index: -99;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 500px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.home::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    background: url(../images/home.jpg) no-repeat center center;
    background-size: cover;
}

.home * {
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.home-list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 30%;
    background: linear-gradient(to right, #fff0, #fff);
    overflow-y: overlay;
}

.home-list .home-list-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.home-list .home-list-item .home-list-item-avatar {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 1px 1px 10px -5px #ddd;
}

.home-list .home-list-item .home-list-item-username {
    font-weight: 700;
}

.home-content {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 70%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    text-align: center;
}

.home-content .home-content-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.home-content .home-content-content {
    flex: 1;
    width: 100%;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    margin: 0;
}

.home-content .home-content-content-item {
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.home-content .home-content-content-item__me {
    flex-direction: row-reverse;
}

.home-content .home-content-content-item__me .home-content-content-item-msg {
    margin-right: 10px;
    text-align: right;
}

.home-content .home-content-content-item__other .home-content-content-item-msg {
    margin-left: 10px;
    text-align: left;
}

.home-content .home-content-content-item-msg {
    display: flex;
    flex-direction: column;
    max-width: 70%;
}

.home-content .home-content-content-item-msg-username {
    font-weight: 700;
    font-size: 12px;
    color: #999;
    line-height: 2;
}

.home-content .home-content-content-item-msg-content {
    background: #ddd;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    color: #333;
}

.home-content-content-item-avatar {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 1px 1px 10px -5px #ddd;
}

.home-content .home-content-input {
    height: 60px;
    width: 100%;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-input {
    flex: 1;
    outline: none;
    border: none;
    padding: 0px 10px;
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
}

#chat-send {
    margin-right: 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    height: 50%;
}

#logout {
    text-decoration: none;
    font-size: 14px;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 8px 10px;
    color: white;
    border-radius: 10px;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .home {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        flex-direction: column;
        position: static;
    }

    .home-list {
        width: 100%;
    }

    .home-content {
        height: calc(100vh - 300px);
        width: 100%;
        display: none;
    }

}