.login {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 350px;
    display: flex;
    overflow: hidden;
}

.login-image {
    background: url(../images/login.jpg) no-repeat center center;
    background-size: cover;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.login-box {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-box-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    margin: 0;
}

.login-box-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.login-box-form div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box-form div label {
    width: 100px;
    font-weight: 500;
}
.login-box-form div input {
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    flex: 1;
}
.login-box-form .form-button{
    flex: 1;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: blueviolet;
}
.login-box-form .form-button:active{
    background-color: #eee;
    color: #000;
    cursor: pointer;
}