.register {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 800px;
    height: 500px;
    display: flex;
    overflow: hidden;
}

.register-image {
    background: url(../images/register.jpg) no-repeat center center;
    background-size: cover;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.register-box {
    flex: 1;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.register-box-title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    margin: 0;
}

.register-box-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.register-box-form div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-box-form div label {
    width: 100px;
    font-weight: 500;
}

.register-box-form div:nth-last-child(n+3) input {
    outline: none;
    border: none;
    flex: 1;
}

.register-box-form div:nth-last-child(n+4) input {
    border-bottom: 1px solid #000;
}

.register-box-form .form-button {
    flex: 1;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: blueviolet;
}

.register-box-form .form-button:active {
    background-color: #eee;
    color: #000;
    cursor: pointer;
}

#captcha {
    margin-right: 10px;
}